In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("jupyter-user1").getOrCreate()

In [2]:
df = spark.read.csv('s3a://test/stocks.csv',header=True)
df.toPandas()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom

In [ ]:
spark.stop()